<div id="create_new_word_div_{{ category.id }}" hidden>
    <input class="create-word-input small" type="text" maxlength="16" placeholder="new word"/>
    <p id="arrow">➡️</p>
    <input class="create-translation-input small" type="text" maxlength="16" placeholder="new translation"/>
    <div class="clearfix"></div>
    <button class="btn btn-success btn-sm create-new-word-btn">Create new word</button>
    <p class="cancel-creating-word">✕</p>
    <div class="clearfix"></div>
</div>
