{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1>Hello World!</h1>
    <button class="btn btn-success">Test</button>
{% endblock %}

{% block javascripts %}{% endblock %}