{% extends 'base.html.twig' %}

{% block title %}Register in WITW{% endblock %}

{% block body%}
    <div class="container h-75">
        <div class="row h-100 align-items-center justify-content-center">
            <div id="register_form" class="col-md-5 bg-light rounded shadow" style="padding-top: 20px; padding-bottom: 20px;">
                <h1 class="text-center" style="margin-bottom: 30px;">Create a new account</h1>
                <form id="login_form" action="{{ path('user_register') }}" method="POST">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email address"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="repeatedPassword" class="form-control" placeholder="Repeat the password"/>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Create account</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
